
.block.full-width {
    width: 100%;
}

.block .set-mw .ui-collapsible-content {
    min-height: 300px;
    padding: 10px 5px 10px 5px;
}

.block .set-mw .plot {
    height: 300px;
    min-width: 250px;
    margin: 0 auto;
}

/* make sure the element has position: relative */
[data-notifications] {
  position: relative;
}

/* append the notification badge after it */
[data-notifications]:after {

    /* the burger */
    content: attr(data-notifications);

    /* the fries */
    position: absolute;
    display: inline-block;
    height:1.5rem;
    right: 0px;
    top: -15px;       
    width:1.5rem;
    text-align: center;
    line-height: 1.5rem;;
    font-size: 1rem;
    border-radius: 50%;

    /* the menu */
    /* TODO: make it customizable */
    border:1px solid red;
    background: red;
    color:white;
}

.auth_switch{
	display: inline-block;
}

.auth_switch .icon {
	vertical-align: middle;
        display: inline-block;
}


/**
* From JanT
*
*/

.gate {
	position: relative;
	display: inline-block;
	width: 400px;
	height: 170px;
	padding: 1px;
	border-top: 2px solid #666;
	border-right: 2px solid #eee;
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #888;
	background: url('pics/A4.jpg');
	border-radius: .3em;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
}

.gate .blade-pos {
	width: 400px;
	height: 1px;
	background: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#888));
	background-image: -webkit-linear-gradient(#fff, #888);
	background-image: -moz-linear-gradient(#fff, #888);
	background-image: -ms-linear-gradient(#fff, #888);
	background-image: -o-linear-gradient(#fff, #888);
	background-image: linear-gradient(#fff, #888);
}

.gate .blade-neg {
	width: 400px;
	height: 1px;
	background: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#777), to(#eee));
	background-image: -webkit-linear-gradient(#777, #eee);
	background-image: -moz-linear-gradient(#777, #eee);
	background-image: -ms-linear-gradient(#777, #eee);
	background-image: -o-linear-gradient(#777, #eee);
	background-image: linear-gradient(#777, #eee);
}

.gate .control {
	position: absolute;
	top: 0;
	width: 400px;
	height: 200px;
	cursor: pointer;
}

/**
* for checkboxes
* SQUARED TWO
*/
.squaredTwo {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);

/**
* UZSU properties:
*
*/

/**
 * Anpassungen für den Chrome Browser in Bezug auf die Breite des
 * Zeiteingabenfeldes. Hier stellt dieser zusätzliche Elemente dar,
 * die die Breite extrem verringern. Also Lösung wird bei customerFormat = 0
 * die Breite von 40 auf 70 px erhöht (oder nach Geschmack)
 *
 * v3
 */

html[data-useragent*='Chrome'] .uzsuTimeInput{
	width:70px !important;
}

/** Nachfolgende Größen sind veränderbar, die angegebenen entsprechen
* 	denen der ursprünglichen Einstellung im Widget. Wers nicht braucht, 
*   einfach weglassen
*/

.uzsuValueInput {
	width:50px;
}

.uzsuListInput {
	width:120px;
}

.uzsuTimeOffsetInput {
	width:60px;
}

.uzsuTimeMaxMinInput {
	width:60px;
}
